<div class="col-lg-8 col-lg-offset-2">
  <div class="jumbotron">
    <h1>{{title}}</h1>
    <p>Disfruta de los animales más exoticos de nuestro zoologico :)</p>
    <p>
      <a class="btn btn-primary btn-lg" [routerLink]="['/animales']" role="button">
        Ver animales
      </a>
      <a class="btn btn-success btn-lg" [routerLink]="['/cuidadores']" role="button">
        Ver cuidadores
      </a>
      <a class="btn btn-warning btn-lg" [routerLink]="['/contacto']" role="button">
        Contacto
      </a>
    </p>
  </div>
</div>
