Padre:
<h1>{{titulo}}</h1>
<ul>
  <li>Caminsetas</li>
  <li>Pantalones</li>
</ul>

<hr/>
<p>
  Nombre del parque:
  <input type="text" [(ngModel)]="nombreDelParque" (keyup)="mostrarNombre()"/>
</p>
<p>
  Resultado: {{nombreDelParque}}
</p>

<div *ngIf="miParque">
  <h4>Datos de mi parque desde el hijo</h4>
  <ol>
    <li>{{miParque.nombre}}</li>
    <li>{{miParque.vegetacion}}</li>
    <li>{{miParque.metros}}</li>
    <li>{{miParque.abierto ? 'si': 'no' }}</li>



  </ol>
</div>

<hr>

<p *ngIf="nombreDelParque">
  Hijo:
  <parques
    [nombre]="nombreDelParque"
    [metros_cuadrados]="500"
    (pasameLosDatos)="verDatosParque($event)"
    ></parques>
</p>
