.navigation.col-lg-12 {
  margin-top: 10px;
}

.jumbotron{
  padding: 40px;
  border-radius: 5px;
  box-shadow: 2px 2px 1px #ccc;
}

.jumbotron a.btn {
  margin-left: 5px;;
}

.navbar-nav .active{
  border-bottom:3px solid orange;
}

.navbar-default .navbar-nav>li>a:hover {
  transition: 300ms;
  border-bottom:3px solid orange;
}


.boton_transiciones {
  padding: 10px;
  background: red;
  color: white;
  border-radius: 20px;
  border: 4px solid blue;
  transition: all 2s;
}

.boton_transiciones:hover {
  text-decoration: none;
  color:white;
  cursor: pointer;
  border-radius: 2px;
  background: #ccc;
  border: 1px solid red;
  display: block;
  width: 100px;
}

.caja_animada {
  background: green;
  border: 5px solid black;
  width: 200px;
  height: 200px;
  margin-top: 15px;
  /*
  animation-name: rotacion;
  animation-duration: 10s;
  animation-iteration-count: infinite;
  */
}

@keyframes rotacion {
  from {
    transform: rotate(0deg);
   }
  to {
    transform: rotate(360deg);
  }
}

@keyframes deslizamiento1 {
  from {
    margin-left: 0px;
   }
  to {
    margin-left: 400px;
    background: red;
  }
}

@keyframes deslizamiento {
  0% {
    margin-left: 0px;
   }
  50% {
    margin-left: 400px;
    background: red;
    border-radius: 1000px;
  }
  75% {
    margin-left: 0px;
    background: yellow;
    border-radius: 0px;
  }
  100% {
    background: green;
  }
}
